* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: rgb(52, 58, 64);
  color: rgb(250, 250, 250);
  font-family: sans-serif;
  min-height: 100vh;
}

header {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  
}

h1{
  font-size: 50px;
  margin: 20px;
}

header nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  justify-content:space-between;
  align-items: center;
}

nav a {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

#searchText, #searchBtn {
  min-height: 30px;
  border-radius: 10px;
}

#searchText {
  min-width: 150px;

}

#searchBtn {
  min-width: 80px;
  background-color: #2f7241;
  color: white;
      
}

.heroSection img {
  size: cover;
  width: 100%;
  height: auto;  
}

#main {
  
  width: 100%;
  
}

aside {
  display: grid;
  grid-template-columns: 1fx;
  justify-self: end;
  align-items: center;
  width: 150px;
}

.container {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: space-around;
}

.content {
  width: 90%;
  border-left: 10px green solid;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(52, 58, 64);
  display: grid;
  grid-template-columns: 100%;
  padding: 20px;   
  margin: 30px; 
}

footer {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 600px;
  

}




/* Media Query */

@media screen and (max-width: 1024px) {
  header {
    grid-template-columns: 1fr 1fr;
  }

  #searchForm {
    margin: 15px 20px;
    align-self: center;
  }

  .container {
    grid-template-columns: 0fr 80%;
  }
  
  
}

@media screen and (max-width: 768px) {
  header {
    height: auto;
    display: grid;
    grid-template-columns: auto;
    justify-content:space-around;
    align-items: center;
    background: rgb(52, 58, 64);
    color: rgb(250, 250, 250);
  }

}
